appdirs==1.4.4
argcomplete==1.12.1
arrow==0.17.0
asgiref==3.2.10
backcall==0.2.0
cfgv==3.2.0
click==7.1.2
colorama==0.4.3
decorator==4.4.2
distlib==0.3.1
Django==3.1.1
django-extensions==3.0.9
django-redis==4.12.1
filelock==3.0.12
flake8==3.8.4
form==0.0.1
identify==1.5.0
ipdb==0.13.3
ipython==7.18.1
ipython-genutils==0.2.0
jedi==0.17.2
mccabe==0.6.1
nodeenv==1.5.0
packaging==20.4
parso==0.7.1
pickleshare==0.7.5
Pillow==8.0.0
pipx==0.15.5.1
pre-commit==2.7.1
prompt-toolkit==3.0.7
pycodestyle==2.6.0
pydot==1.4.1
pyflakes==2.2.0
Pygments==2.7.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
qcloudsms-py==0.1.4
redis==3.5.3
six==1.15.0
sqlparse==0.3.1
style==1.1.0
tencentcloud-sdk-python==3.0.250
toml==0.10.1
traitlets==5.0.4
userpath==1.4.1
virtualenv==20.0.31
wcwidth==0.2.5
